{
    "extends": "react-app",
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }]
    },
    "plugins": [
        "prettier"
    ]
}