{
    "extends": "react-app",
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "trailingComma": [
            "error",
            "es5"
        ]
    },
    "plugins": [
        "prettier"
    ]
}